{% extends 'patient/patientbase.html' %}
{% load static %}
{% block content %}
<head>
    <style>
            .xyz{     
        color: blue; 
        font-size: 3ex;   
    }
    </style>
</head>
<br><br>
<div class="container">

  <h4 class="text-center alert alert-info mb-5">Salam, <strong class="text-danger">{{request.user.first_name}} {{request.user.last_name}}</strong>, Voici les informations de votre compte : </h4>

    <div class="row">
      <div class="col-sm-3">
        <div class="card bg-light">
          <div class="card-body">
              <div class="blood">
                <i class="fas fa-sync-alt xyz"></i>
              </div><br>
              <div>
                    Demande Effectuée<br>
                  {{effectueDemande}}
              </div>                            
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card bg-light">
            <div class="card-body">
                <div class="blood">
                  <i class="fas fa-sync xyz"></i>
                </div><br>
                <div>
                      Demande En Attente<br>
                    {{demandeEnAttente}}
                </div>                            
            </div>
          </div>
      </div>

      <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                    <i class="fas fa-check-circle xyz"></i>
                  </div><br>
                  <div>
                        Demande Approuvée<br>
                      {{demandeApprouve}}
                  </div>                            
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                    <i class="fas fa-times-circle xyz"></i>
                  </div><br>
                  <div>
                        Demande Rejetée<br>
                      {{demandeRejete}}
                  </div>                            
              </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
